h1 {
    text-align: center;
    width: 100%;
}

section {
    min-height: 70vh;
}


.newsList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.newsCard {
    background-color: rgba(255, 255, 255, 0.76);
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    padding: 20px;
    border-radius: 15px;
    width: 45%;
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
}

    .newsCard * {
        color: black;
    }

    .newsCard:hover {
        background-color: rgb(194, 194, 194);
    }

        .newsCard:hover * {
            color: white !important;
        }

    .newsCard img {
        border-radius: 100%;
        width: 125px;
        height: 125px;
        object-fit:cover;
    }

    .newsCard p {
        width: 50%;
        font-size: 2em;
    }

    .newsCard .shortDescription {
        width: 15%;
    }

        .newsCard .shortDescription p {
            width: 100%;
            font-size: 1.5em;
            font-weight: bolder;
            margin: 0;
        }

.bodyContact {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.formContainer,
.mapContainer {
    width: 45%;
    min-height: 400px;
}

.formContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

    .formContainer p,
    .formContainer span {
        color: black;
    }

    .formContainer .partInfo a {
        color: blue;
        text-decoration: underline;
    }

.socialLinks a {
    transition-duration: 250ms;
}

    .socialLinks a:hover {
        transition-duration: 250ms;
        transform: scale(1.1);
    }

.mapContainer iframe {
    width: 100%;
    height: 100%;
}

.partInfo, p {
    font-size: 1.5em;
}

    .partInfo .name {
        font-weight: bold;
    }

.socialLinks {
    font-size: 3em;
    display: flex;
    justify-content: center;
}

    .socialLinks a {
        margin: 0 20px;
    }

    .socialLinks i {
    }

@media(max-width:1400px) {
    .newsCard {
        font-size: 0.75em;
    }

        .newsCard img {
            width: 100px;
            height: 100px;
        }
}


@media(max-width:1000px) {

    .newsCard {
        width: 100%;
        margin: 20px 0;
    }

    .newsList {
        align-items: center;
    }

    .bodyContact {
        flex-direction: column;
    }

    .formContainer p{
        text-align:center;
    }

    .formContainer,
    .mapContainer {
        width: 100%;
    }

        .mapContainer iframe {
            min-height: 300px;
        }
}

@media(max-width:720px) {

    .newsCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        .newsCard p,
        .newsCard .shortDescription {
            width: 100%;
            margin-top: 10px;
        }
}


@media(max-width:500px) {
    h1 {
        font-size: 2.4em;
    }
}