
.sectionContainer {
    display:flex;
    justify-content:space-between;
}
section {
    margin: 50px 0;
}

.filmListSection {
    width: 65%;
    margin-left: 50px;
}

.searchFilmSection {
    width: 25%;
    margin-right: 50px;
    height: fit-content;
    position:sticky;
    top:50px;
}

button {
    width: 100%;
    margin: 50px 0;
}

.flex {
    width: 50vw;
    height: 80px;
    line-height: 80px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 100px;
}

    .flex ul {
        display: flex;
        padding: 0;
        margin: 0;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }

        .flex ul li {
            flex: 1;
            list-style: none;
            text-align: center;
            position: relative;
            font-size: 20px;
            font-weight: bold;
            transition: 0.5s ease;
            cursor: pointer;
            user-select: none;
        }

            .flex ul li.active {
                background-color: rgba(255, 255, 255, 0.25);
                color: white;
            }

            .flex ul li:hover {
                background-color: rgba(255, 255, 255, 0.25);
                color: white;
            }

@media(max-width:1470px){
    .filmListSection,
    .searchFilmSection {
        width: 80%;
        margin: 25px 0;
        position: relative;
        top:0;
    }
        .searchFilmSection .listContainer .checkBoxContainer {
            width: 32%;
        }
    .sectionContainer{
        flex-direction:column-reverse;
        align-items:center;
    }
}

@media(max-width:1350px) {
    .filmList {
        width: 100%;
        align-items: center;
    }

    .filmListSection {
        margin: 50px 0 !important;
    }

    .filmList .cardHref {
        width: 30% !important;
    }

    .filmList .card {
        width: 100%;
    }
    .filmListSection,
    .searchFilmSection {
        width: 99%;
    }
}

@media(max-width:900px) {
    .filmList {
        justify-content:center;
    }
    h1{
        text-align:center;
    }
    .filmList .cardHref {
        width: 35% !important;
        margin: 50px ;
    }
}
@media(max-width:750px) {

    .filmList .cardHref {
        width: 43% !important;
        margin: 50px 20px;
    }
    .flex{
        width:80%;
    }
}
@media(max-width:640px) {

    .filmList .cardHref {
        width: 60% !important;
        margin: 50px 0;
    }
}
@media(max-width:450px) {

    .filmList .cardHref {
        width: 80% !important;
        margin: 50px 0;
    }
}
