
section h2{
    margin-bottom:30px;
}

span.type {
    font-weight: 700;
}



.newsSection{
    margin: 50px 50px;
}
.randomFilmSection {
    width: 33%;
    margin-left: 50px;
    height:1000px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
    .randomFilmSection .filmList {
        height: 800px;
        overflow-y: auto;
        align-content: start;
    }
    .newsList {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

.newsCard {
    background-color: rgba(255, 255, 255, 0.76);
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    padding: 20px;
    border-radius: 15px;
    width: 45%;
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
}

.newsCard *{
    
    color:black;
}

.newsCard:hover {
    background-color: rgb(194, 194, 194);
}
    .newsCard:hover *{
        color: white !important;
    }

.newsCard img{
    border-radius:100%;
    width:125px;
    height:125px;
}
    .newsCard p {
        width: 50%;
        font-size: 2em;
    }

.newsCard .shortDescription{
    width:15%;
}
    .newsCard .shortDescription p {
        width: 100%;
        font-size: 1.5em;
        font-weight: bolder;
        margin:0;
    }
.randomFilmSection .cardHref {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 3px solid white;
}

    .randomFilmSection .cardHref img {
        width: 125px !important;
        height: 125px;
        border-radius: 100%;
        margin-right: 25px;
        min-width: 125px;
        object-fit: cover;
        object-position: bottom;
    }
    .randomFilmSection .cardHref p {
        font-size: 1.2em;
        font-weight: 600;
    }
        .randomFilmSection .cardHref p:nth-child(2),
        .randomFilmSection .cardHref p:nth-child(3) {
            font-size: 1.2em;
            font-weight: 100
        }

.mainContainer {
    display: flex;
    justify-content:space-between;
}


.searchFilmSection {
    width: 23%;
    margin-right: 50px;
    height: fit-content;
}

    .searchFilmSection .listContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-height: 120px;
        overflow: hidden;
        transition-duration: 500ms;
    }

    .searchFilmSection .listHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }

        .searchFilmSection .listHeader span {
            font-size: 1.5em;
            cursor: pointer;
            transition-duration: 200ms;
        }

            .searchFilmSection .listHeader span:hover {
                color: lightgray;
                transition-duration: 200ms;
            }

    .searchFilmSection .listContainer.active {
        transition-duration: 1500ms;
        max-height: 1500px;
    }

    .searchFilmSection .checkBoxContainer {
        width: 49%;
        font-size: 1.3em;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .searchFilmSection input[type="checkbox"] {
        width: 20px;
        height: 18px;
    }

    .searchFilmSection label {
        width: 80%;
        overflow: hidden;
    }

    .searchFilmSection .inputContainer {
        display: flex;
        justify-content: space-between;
    }

    .searchFilmSection input {
        width: 40%;
        padding: 10px;
        border: none;
        border-radius: 15px;
        color: black;
    }

    .searchFilmSection button {
        width: 80%;
        margin: 20px 10%;
    }

    .searchFilmSection a {
        font-size: 2em;
        width: 100%;
        text-align: center;
        display: block;
    }

@media(max-width:1400px) {
    .newsSection{
        margin: 50px 0;
    }
    .randomFilmSection {
        width: 48%;
        margin: 0;
    }
    .searchFilmSection{
        width:100%;
        margin: 40px 0;
    }
        .searchFilmSection .listContainer .checkBoxContainer {
            width:32%;
        }
    .newsSection .newsCard {
        font-size : 0.75em;
    }
    .newsSection .newsCard img {
        width:100px;
        height:100px;
    }

    .cardHref img{
        height:400px;
    }
    .cardHref .card{
        width:250px;
    }

    .mainContainer {
        flex-wrap:wrap;
    }
}
@media(max-height:800px) {
    .randomFilmSection {
        height: 600px;
    }
}



@media(max-width:1000px) {

    .randomFilmSection {
        width: 100%;
        margin: 50px 0;
    }

    .newsSection .newsCard {
        width:100%;
        margin: 20px 0;
    }
    .newsList{
        align-items:center;
    }
}

@media(max-width:720px) {


    .card .shortDescription{
        width:100%;
        height:100px;
    }
    .card img{
        height:350px;
    }
    .card{
        height:450px;
    }
    .newsCard{
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align:center;
    }
    .newsCard p,
    .newsCard .shortDescription{
        width:100%;
        margin-top:10px;
    }
    .filmList{
        align-items:center;
        justify-content:center;
    }
    .filmList .cardHref{
        width:100%;
    }
}

