/*

    Main

*/


*{
    color:black;
}
a {
    color: black;
}
header .navLinks {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 20px #dbdbdbd6;
}
header a {
    color: black;
}

    header a:hover {
        color: #3e3e3e;
    }
header input[type="text"] {
    color: black;
    border-bottom-color: black;
}

    header input[type="text"]::placeholder {
        color: black;
    }
header button {
    color: black;
}

    header button :hover {
        color: darkgray;
    }

.offcanvas {
    background-color: #ffffffff;
}
.offcanvas-title {
    color: black;
}
body {
    background-color: rgba(185, 185, 185, 1);
}
section {
    background-color: rgb(241 241 241 / 74%);
    box-shadow: 10px 10px 30px #dbdbdbd6;
}

    section h2 {
        color: black !important;
    }
    /*????*/
.carouselCardHref .shortDescription {
    background-color: rgba(159, 159, 159, 0.37);
}

.carouselCardHref:hover .shortDescription {
    color: black;
}
select {
    border: 2px solid black !important;
    color: black;
}

    select option {
        color: black;
    }
button {
    color: black;
}

    button:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }
.searchFilmSection .listHeader span:hover {
    color: rgb(46, 46, 46);
    transition-duration: 200ms;
}
.addFilmHref a {
    color: black;
}

    .addFilmHref a:hover {
        color: darkgrey;
    }

footer {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100px;
}

footer .hrefContainer a{
    color:black;
}

    footer .copyright {
        color: black;
        border-color: black;
    }
    

/*

    Admin Panel

*/
.mainCommandsSection form button {
    color: black;
}

    .mainCommandsSection form button:hover {
        color: darkgrey;
        }
.mainCommandsSection form button {
    color: black;
}


/*

    Film list + search

*/
.flex ul li{
    background-color: rgb(202, 202, 202, 0.25);
    color: gray;
}
    .flex ul li.active {
        background-color: rgb(202, 202, 202, 0.25);
        color: black;
    }

    .flex ul li:hover {
        background-color: rgb(202, 202, 202, 0.25);
        color: black;
    }
.flex ul {
    box-shadow: 0 10px 20px 0 rgb(124, 124, 124, 0.25);
}


/*

    Detail

*/


.playerSection {
    background-color: rgb(159, 159, 159, 0.6);
}
.feedBack p,
.feedBack textarea {
    border: 2px solid white;
    background-color: darkgray;
}
.feedBack textarea {
    color: black;
}
.feedbackSection button {
    background-color: gray;
    color: black;
}
#carouselSeries {
    background-color: rgba(159, 159, 159, 0.37);
}
    #carouselSeries .seriesNumber {
        border: 1px solid black;
        padding: 15px 0;
    }

        #carouselSeries .seriesNumber.active {
            color: red;
            border: 1px solid red;
        }

        #carouselSeries .seriesNumber:hover {
            background-color: gray;
        }



/*

    Login, registration, profile pages

*/

.modal-content {
    background-color: gray;
}

.loginSection form input,
.modal input {
    border: 2px solid black;
    background-color: transparent;
    color: black;
}

.profileSection a:hover {
    color: darkgrey;
}
.userFilmsSection button:hover {
    background-color: transparent;
    color: gray;
}


/*

    Index page

*/

.randomFilmSection .cardHref {
    border-bottom: 3px solid black;
}
