@section CssLinks{

    <link rel="stylesheet" href="~/css/faq.css">
}

@model List<News>

<section>
    <h1>Возникли трудности? Возможно, вы найдете решение здесь</h1>

    <div class="newsList">
        @for (int i = 0; i < Model.Count; i++)
        {
            @await Html.PartialAsync("_NewsCardPartial", Model[i])
        }
    </div>

</section>

<section class="contactSection">
    <h1>Связаться с нами</h1>
    <div class="bodyContact">
        <div class="mapContainer">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac3c19b691694c5ead4bc468cd200a364737e48ecd82c1d6c05abb1fd2afebf67&amp;source=constructor" frameborder="0"></iframe>
        </div>
        <div class="formContainer">

            <p>Все еще остались вопросы?<br />Напишите нам и вместе разберемся с вашей проблемой</p>
            <div class="partInfo">
                <span class="name">Фактический адрес: </span>
                <span class="value">Где-то в Бесконечное лето</span>
            </div>
            @* <div class="partInfo">
                <span class="name">Телефон поддержки: </span>
                <span class="value"></span>
            </div> *@
            <div class="partInfo">
                <span class="name">Email: </span>
                <span class="value"><a href="mailto:outouch_anime@mail.ru">outouch_anime@mail.ru</a></span>
            </div>
            <div class="socialLinks">
                <a href="#"><i class="fa-brands fa-youtube" style="color: #ff0000;"></i></a>
                <a href="https://vk.com/vitvis"><i class="fa-brands fa-vk fa-shake" style="color: #1d67e7;"></i></a>
                <a href="#"><i class="fa-brands fa-telegram" style="color: #005eff;"></i></a>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://kit.fontawesome.com/5bbb62820a.js" crossorigin="anonymous"></script>
}