@model List<News>
@section CssLinks{

    <link rel="stylesheet" href="~/css/index.css">
}
<section class="newsSection">
    <h2>Весь список новостей</h2>
    <div class="newsList">

        @for (int i = 0; i < Model.Count; i++)
        {
            @await Html.PartialAsync("_NewsCardPartial", Model[i])
        }
    </div>
</section>