@section CssLinks{

    <link rel="stylesheet" href="~/css/profile.css">
}

<section class="loginSection">

    <h2>Вход</h2>
    <form asp-action="Login" asp-controller="User" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required />

        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required />


        <button type="submit">Войти</button>
    </form>
    <div class="helpBlock">
        <span>
            Нет нашего аккаунта? <a asp-action="Registration" asp-controller="User">Зарегистрироваться</a>
        </span>
    </div>
</section>