@section CssLinks{

    <link rel="stylesheet" href="~/css/profile.css">
}

<section class="loginSection">

    <h2>Регистрация</h2>
    <form asp-action="Registration" asp-controller="User" method="post">

        <label for="login">Логин(псевдоним):</label>
        <input type="text" name="login" id="login" required />
        <span id="loginValidation"></span>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required />
        <span id="emailValidation"></span>

        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required />
        <span id="passwordValidation"></span>


        <button type="submit">Зарегистрироваться</button>
    </form>
    <div class="helpBlock">
        <span>
            Уже есть наш аккаунт? <a asp-action="Login" asp-controller="User">Войти в аккаунт</a>
        </span>
    </div>
</section>

@section Scripts{
    <script>
        let loginValidation = document.getElementById("loginValidation");
        let emailValidation = document.getElementById("emailValidation");
        let passwordValidation = document.getElementById("passwordValidation");

        let btnSubmit = document.getElementById("btnSubmit");

        let corrLogin = false;
        let corrPass = false;
        let corrEmail = false;

        document.getElementById("login").addEventListener("input", async (ev) => {
            corrLogin = false;
            let login = ev.target.value;
            if (login.length < 3 || login.length > 20) {
                loginValidation.textContent = "Длина логина должна быть от 3 до 20 символов";
                checkCorrectFields();
                return;
            }

            let reg = /[^(\w)|(\x7F-\xFF)|(\s)]/;
            if (reg.test(login)) {
                loginValidation.textContent = "В логине допустимы только буквы латинского и русского алфавита,цифры , символ подчеркивания и пробел";
                checkCorrectFields();
                return;
            }
            let existUser = false;

            await fetch(window.location.origin + '/User/CheckLogin/?login=' + login)
                .then((response) => {
                    return response.text();
                })
                .then((ans) => {
                    existUser = ans == "true";
                });
            if (existUser) {
                loginValidation.textContent = "Пользователь с таким логином уже существует";
                checkCorrectFields();
                return;
            }

            loginValidation.textContent = "";
            corrLogin = true;
            checkCorrectFields();
        });

        document.getElementById("email").addEventListener("input", async (ev) => {
            let email = ev.target.value;

            corrEmail = false;
            let existUser = false;

            await fetch(window.location.origin + '/User/CheckEmail/?email=' + email)
                .then((response) => {
                    return response.text();
                })
                .then((ans) => {
                    existUser = ans == "true";
                });
            if (existUser) {
                emailValidation.textContent = "Пользователь с таким email уже существует";
                checkCorrectFields();
                return;
            }

            emailValidation.textContent = "";
            corrEmail = true;
            checkCorrectFields();
        });

        document.getElementById("password").addEventListener("input", async (ev) => {
            let password = ev.target.value;

            corrPass = false;


            let reg = /^.*(?=.{5,20})(?=.*[a-zA-Z]|[а-яА-Я])(?=.*\d).*$/;

            if (!reg.test(password)) {
                passwordValidation.textContent = "Пароль должен состоять от 5 символов, включая 1 букву и цифру";
                return;
            }

            passwordValidation.textContent = "";
            corrPass = true;
            checkCorrectFields();
        });

        function checkCorrectFields() {
            if (corrLogin && corrEmail && corrPass) {
                btnSubmit.disabled = false;
            }
            else {
                btnSubmit.disabled = true;
            }
        }
    </script>
}