.sheduleContainer{
    margin-top: 80px;
}
.shedule {
    margin: 40px 0;
    .header {
        display: flex;
        justify-content: space-between;

        h3 {
            width: fit-content;
        }

        a{
            text-align: right;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        height: fit-content;
        max-height: 650px;
        overflow-x: scroll;
        flex-wrap: wrap;
        padding-bottom: 30px;

        .card {
            width: fit-content;
            height: 170px;
            margin: 10px 0;
            margin-right: 30px;
            display: flex;
            justify-content: flex-start;
            border-radius: 10px;
            text-decoration: none;
            overflow: hidden;

            img {
                width: 140px;
                object-fit: cover;
            }

            .textContent {
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border-radius: 0 10px 10px 0;
                border: 1px solid var(--main-text-color);
                border-left: none;

                p {
                    font-size: 1.2em;
                    width: 300px;
                    line-clamp: 2;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .sheduleContainer{
        margin-top: 120px;
    }
}